@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: #1C6758;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease; // smoother transition

    /* Hides the scroll bar from the screen*/
    &::-webkit-scrollbar {
        display: none;
    }

    .wrapper {
        padding: 10px 30px;
        display: flex;  // horizontal
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;

                
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }

                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                }

                span {
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }

        .right {

            // the three navigation bars on the right
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;  // allows system cursor to click on navigation tool

                span {
                    width: 100%;
                    height: 3px;
                    background-color: #1C6758;
                    transform-origin: left;  // not centered line, in order to make a cross
                    transition: all 2s ease;  // all rotations and opacity are changed in transitiion after 2 seconds
                }
            }
        }
    }

    // if topbar read active, then color of topbar changes
    &.active {
        background-color: #1C6758;
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    // makes a cross with the rotation
                    transform: rotate(45deg);
                }
                // chooses second option
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    // creates an "x" shape
                    transform: rotate(-45deg);

                }
            }
        }
    }
}
