// $mainColor: #541690;
// $secondaryColor: #FF4949;
// $tertiaryColor: #FF8D29;
// $quarternaryColor: #FFCD38;

$mainColor: #151D3B;
$secondaryColor: #D82148;
$tertiaryColor: #6EBF8B;
$quarternaryColor: #DADBBD;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}